.container{
    height: 300px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: stretch;
}
.kotak{
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 1rem;
    order: 6;
    flex-grow: 1;
}
.kotak:nth-child(2){
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 1rem;
    order: 4;
}
.kotak:nth-child(3){
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 1rem;
    order: 1;
}
.kotak:nth-child(4){
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 1rem;
    order: 2;
}
.kotak:nth-child(5){
    width: 100px;
    height: 100px;
    background-color: purple;
    margin: 1rem;
    order: 3;
    flex-grow: 10;
}
.kotak:nth-child(6){
    width: 100px;
    height: 100px;
    background-color: orange;
    margin: 1rem;
    order: 5;
    flex-shrink: 0;
    flex-basis: 50px;
    align-self:flex-end;
}