body{
    padding: 10%;   
    font-size: 2rem;
    font-family: sans-serif;
}

/* input, button{
    font: inherit;
} */

p {
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 0.1em;
    word-spacing: 0.5em;
    font-weight: lighter;
    font-style: oblique;
}